*{
    direction: rtl;
    padding: 0%;
    margin: 0%;
}
.nav-logo{
    text-decoration: none;
    color: hsl(197, 100%, 17%);
    display:flex ;
    align-items: center;
    font-size: large;
}
.nav-logo img {
height: 5rem;
}
.nav-bar{
    background-color: #003f58;
    padding: 1.5rem;
}
.dropdown{
    position: relative;
    display: inline-block;
    margin: 0.8rem;
}
.dropbtn{
  font-size:large;
  color: white;
  padding-top: 0;
  border: none;
  background-color: #003f58;
}
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}
.dropdown-content li {
    display:inline-block;
    width: max-content;
}
.dropdown-content a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display:block;   
}
.dropdown:hover .dropbtn {
    color: #187483;
  }
.dropdown-content a:hover {
    background-color: #187483;
}


.dropdown:hover .dropdown-content {
            display: block;
            background-color: #003f58;
}
.index-pic{
    width: 100%;
}
.index-content {
   padding:1.5rem ;
   line-height:2rem;
   color: #003f58;
   background-color: #a5a5a520;
   border-radius: 5%;
   margin: 2%;
}
.index-content h1{
    margin-bottom: 3%;
    font-size: 2rem;
    text-align: center;
}
.index-content p{
    font-size: 1.2rem;
}
.idext-video{
    text-align: center;
    margin-top: 4%;
    
}
video{
    width: 90%;
    border: none;
}
.index-content-2{
   padding:1.5rem ;
   line-height:2rem;
   color: #003f58;
   background-color: #a5a5a520;
   border-radius: 5%;
   margin: 2%;
}
.index-content-2 h1{
    margin-bottom: 3%;
    font-size: 2rem;
    text-align: center;
}
.section-card{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.div-card{
    width: 20rem;
    text-align: start;
    
}
.div-card img{
    width: 90%;
    height: 20rem;
}
.p-title{
font-size: large;
padding-right: 1%;
}
.p-small{
font-size:small;
padding: 0% 1%;
}
.div-card button{
    width: 90%;
    border: none;
    padding: 5%;
    background-color: #003f58;
    color: white;
    font-size: large;
    margin-top: 4%;
}
.footer{
    background-color: #003f58;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
}
.footer-logo{
    text-decoration: none;
    color: white;
    display: flex;
    padding: 0.5rem;
    text-indent: 1rem;
}
.footer-location {
    width: 20rem;
}
.footer-location img{
    width: 100%;
}